*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body, html {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: brown;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: brown !important;
}

.container-fluid {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
}
.dropdown-item{
  color: white;
}
.dropdown-item:hover{
  background-color: brown;
}
.nav-drop:hover{
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: white;
  margin-left: 20px;
}

.logout-btn {
  color:white;
  background-color: brown;
  transition: background-color 0.3s ease; 
}


.nav-link{
  border-radius: 10%;
   background-color:brown;
  transition: background-color 0.3s ease;
}




/* Home page */

.container-card {
  transition: all 0.3s ease-in-out; /* smooth effect */
  border: 2px solid transparent; /* default no border */
  border-radius: 10px; /* optional rounded edges */
}

.container-card:hover {
  border: 4px solid rgb(32, 32, 91); /* blue border */
  box-shadow: 0 0 15px rgba(16, 16, 57, 0.7), 
              0 0 25px rgba(97, 97, 254, 0.5); /* glowing shiny effect */
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 650px;
  overflow: hidden;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item.active {
  opacity: 1;
  animation: zoomFade 4s ease-in-out forwards;
}

@keyframes zoomFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

.container-expand-lg{
  color: white;
}

.col-link a{
  color: white;
}


/* Signup Page */
.container-sign{
  padding-left: 90px;
  padding-right: 90px;
  
  text-align: center;
}